body {
    background: url('back.jpg');
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    justify-content: center;
}

.entry {
    background: rgba(59, 74, 107, .4);
}

#app {
    display: flex;
    height: 100vh;
    color: #35234B;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.holder {
    text-align: center;
}

#entryHolder {
    color: white;
}

/* 


#date {}

#temp {}

#content {}

 */

.title {
    color: #FFE15D;
}

.headline {
    background-color: #5C3B6F;
    padding: 3px 16px;
    color: #e9e9e9;
    border-radius: 25px;
    border-bottom: 3px solid #FFE15D;
    box-shadow: 0px 0px 10px 0px #fff;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display: block;
    color: #FFE15D;
    background-color: #b01e67aa;
    font-size: 27px;
}

fieldset {
    border: 6px solid white;
    box-shadow: 2px 5px 10px 3px;
}

input {
    display: block;
    height: 60px;
    margin: 0 !important;
    width: 400px;
    text-align: center;
    background: #d84c74ba;
    color: whitesmoke;
    font-size: 23px;
    transition: .4s;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button {
    width: 400px;
    height: 60px;
    background: #3b4a6b;
    color: #E5EBB2;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    transition: .4s;
    box-shadow: 2px 4px 5px #444;
}

button:hover {
    color: #FFE15D;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 15px 0px rgb(255, 255, 255);
}

h1 {
    font-size: 36px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder {
    /* Firefox, Chrome, Opera */
    color: #fff6f6;
    font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ffffff;
    font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fffafa;
    font-family: 'Oswald', sans-serif;
}